<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:mysql://127.9.0.130:3306/test</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">adminkZEasf2</property>
        <property name="connection.password">yVG5AGapQL3f</property>
        <property name="connection.pool_size">5</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>

        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.show_sql">false</property>
        <!--<mapping resource="User.hbm.xml"/>-->
        <mapping class="com.test.entity.User"></mapping>
        <mapping class="com.test.entity.Resource"></mapping>
        <mapping class="com.test.entity.Massage"></mapping>
        <mapping class="com.test.entity.Payment"></mapping>
    </session-factory>
</hibernate-configuration>